@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');


.portfolio-text-button {
    font-family: "Arimo", serif;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 115%;
}

.portfolio-text-heading {
    text-align: center;
    font-family: "Arimo", serif;
    font-size: 10.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 90%;
    letter-spacing: -0.735rem;
}

.portfolio-text-subheading {
    color: #131E29;
    font-family: "Arimo", serif;
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 80px */
    letter-spacing: -0.3px;
}

.portfolio-text-description {
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.625rem;
}

.portfolio-project-title {
    color: #131E29;
    font-family: "Arimo", serif;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 28px */
    letter-spacing: -0.088px;
}

.portfolio-project-desc {
    color: #3F3F3F;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.625rem;
    text-align: left;
}

.portfolio-carousel-item {
    color: #131E29;
    font-family: "Arimo", serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 20px */
    letter-spacing: 0.063rem;
}

.body-1-bold {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 130%;
}

.portfolio-process-item {
    color: #131E29;
    font-family: "Arimo", serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 50%;
    /* 24px */
    letter-spacing: -0.21rem;
}

.portfolio-cgi-text {
    color: #131E29;
    text-align: center;
    font-family: "Arimo", serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 40px */
    letter-spacing: -0.125rem;
}

.portfolio-cgi-footer {
    color: #959A9F;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    /* 26px */
}

.portfolio-compo-heading {
    text-align: center;
    font-family: "Arimo", serif;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
    /* 64.4px */
    letter-spacing: -0.175rem;
}

.portfolio-compo-value {
    font-family: "Arimo", serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
    /* 36.8px */
    letter-spacing: -0.1rem;
}

.portfolio-cta-marquee {
    color: #131E29;
    text-align: center;
    font-family: "Arimo", serif;
    font-size: 9.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 90%;
    /* 136.8px */
    letter-spacing: -0.665rem;
}

.portfolio-footer-heading {
    color: #FCFCFC;
    font-family: "Arimo", serif;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 36px */
    letter-spacing: -0.113rem;
}

.portfolio-footer-description {
    color: #959A9F;
    /* Body PJS/Body1/Re */
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 138%;
    /* 27.6px */
}

.portfolio-footer-btn {
    text-align: center;
    font-family: "Arimo", serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 90%;
    /* 21.6px */
    letter-spacing: -0.105rem;
}

.portfolio-footer-ads {
    color: #666D74;
    /* Body PJS/Body4/Re */
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 115%;
    /* 13.8px */
}

.portfolio-text-gradient {
    background: linear-gradient(270deg, #601FEB 13.43%, #A369EE 28.58%, #FBBD37 54.26%, #D0FFCA 66.24%, #9EFEFD 75.69%, #66C4EA 92.21%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}