/* Archia */
@font-face {
    font-family: 'Archia';
    src: url('/fonts/archia/Archia-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Archia';
    src: url('/fonts/archia/Archia-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Archia';
    src: url('/fonts/archia/Archia-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Archia';
    src: url('/fonts/archia/Archia-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Archia';
    src: url('/fonts/archia/Archia-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Archia';
    src: url('/fonts/archia/Archia-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Archia';
    src: url('/fonts/archia/Archia-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}