/* Archia */
@font-face {
    font-family: 'Archia';
    src: url('/fonts/archia/Archia-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Archia';
    src: url('/fonts/archia/Archia-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Archia';
    src: url('/fonts/archia/Archia-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Archia';
    src: url('/fonts/archia/Archia-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Archia';
    src: url('/fonts/archia/Archia-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Archia';
    src: url('/fonts/archia/Archia-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Archia';
    src: url('/fonts/archia/Archia-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/* Jakata */
/* @font-face {
    font-family: 'Jakarta-sans';
    src: url('/fonts/jakarta-sans/PlusJakartaSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Jakarta-sans';
    src: url('/fonts/jakarta-sans/PlusJakartaSans-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Jakarta-sans';
    src: url('/fonts/jakarta-sans/PlusJakartaSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Jakarta-sans';
    src: url('/fonts/jakarta-sans/PlusJakartaSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Jakarta-sans';
    src: url('/fonts/jakarta-sans/PlusJakartaSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Jakarta-sans';
    src: url('/fonts/jakarta-sans/PlusJakartaSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Jakarta-sans';
    src: url('/fonts/jakarta-sans/PlusJakartaSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Jakarta-sans';
    src: url('/fonts/jakarta-sans/PlusJakartaSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Jakarta-sans';
    src: url('/fonts/jakarta-sans/PlusJakartaSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Jakarta-sans';
    src: url('/fonts/jakarta-sans/PlusJakartaSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Jakarta-sans';
    src: url('/fonts/jakarta-sans/PlusJakartaSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Jakarta-sans';
    src: url('/fonts/jakarta-sans/PlusJakartaSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Jakarta-sans';
    src: url('/fonts/jakarta-sans/PlusJakartaSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
} */