@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Underline */
@keyframes draw {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

.text-underline {
  display: inline-block;
  /* Cần thiết để animation hoạt động */
  position: relative;
}

.text-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  /* Vị trí của gạch chân */
  height: 2px;
  /* Độ dày của gạch chân */
  width: 100%;
  /* Chiều dài gạch chân */
  background: currentColor;
  /* Màu sắc gạch chân */
  transform: scaleX(0);
  /* Bắt đầu từ 0 */
  transform-origin: left;
  /* Điểm gốc từ bên trái */
  transition: transform .5s;
  /* Thời gian cho hiệu ứng */
}

.text-underline:hover::after {
  transform: scaleX(1);
  /* Kích hoạt hiệu ứng khi hover */
}