@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import './fonts.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  scroll-behavior: smooth;
}

@media (min-width: 1024x) {
  html {
    font-size: 1.2vw;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 1.2vw;
  }
}

@media (min-width: 2560px) {
  html {
    font-size: 1vw;
  }
}

@media (min-width: 3840px) {
  html {
    font-size: 1vw;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Body */
.body-1-medium {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.625rem;
  text-align: left;
}

.body-1-regular {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.625rem;
  text-align: left;
}

.body-2-medium {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  line-height: 1.294rem;
  font-size: 1.125rem;
}


.body-2-regular {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.294rem;
  text-align: left;
}

.body-2-semibold {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.294rem;
  text-align: left;
}


.body-2-bold {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.294rem;
  /* text-align: left; */
}

.body-3-light {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.006rem;
}

.body-3-regular {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.138rem;
  text-align: left;
}

.body-3-medium {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.006rem;
  text-align: left;
}

.body-4-regular {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.863rem;
  /* text-align: left; */
}

.body-4-medium {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 0.863rem;
  text-align: left;
}

.hero-description {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 2.013rem;
  text-align: left;
}

/* Subtitle */
.subtitle-1-medium {
  font-family: 'Archia', sans-serif;
  font-size: 2.188rem;
  font-weight: 500;
  line-height: 2.188rem;
  letter-spacing: -0.05em;
  text-align: left;
}

.subtitle-1-regular {
  font-family: 'Archia', sans-serif;
  font-size: 2.188rem;
  font-weight: 400;
  line-height: 2.188rem;
  letter-spacing: -0.05em;
}

.subtitle-2-regular {
  font-family: 'Archia', sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: -0.05em;
  /* text-align: left; */
}

.subtitle-2-medium {
  font-family: 'Archia', sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.75rem;
  letter-spacing: -0.05em;
  /* text-align: left; */
}


.subtitle-3-medium {
  font-family: 'Archia', sans-serif;
  font-size: 1.438rem;
  font-weight: 500;
  line-height: 1.438rem;
  letter-spacing: -0.05em;
  text-align: left;
}

.subtitle-4-medium {
  font-family: 'Archia', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: -0.05em;
  text-align: left;
}

.subtitle-3-semibold {
  font-family: 'Archia', sans-serif;
  font-size: 1.438rem;
  font-weight: 600;
  line-height: 1.438rem;
  letter-spacing: -0.05em;
  text-align: left;
}

.subtitle-3-regular {
  font-family: 'Archia', sans-serif;
  font-size: 1.438rem;
  font-weight: 400;
  line-height: 1.438rem;
  letter-spacing: -0.05em;
  text-align: left;
}

.subtitle-3-medium {
  font-family: 'Archia', sans-serif;
  font-size: 1.438rem;
  font-weight: 500;
  line-height: 1.438rem;
  letter-spacing: -0.05em;
  text-align: left;

}

/* Title */
.title-1-regular {
  font-family: 'Archia', sans-serif;
  font-size: 4.313rem;
  font-weight: 400;
  line-height: 4.313rem;
  letter-spacing: -0.05em;
  /* text-align: left; */
}

.title-1-medium {
  font-family: 'Archia', sans-serif;
  font-size: 4.313rem;
  font-weight: 500;
  line-height: 4.313rem;
  letter-spacing: -0.05em;
  /* text-align: left; */
}

.title-2-medium {
  font-family: 'Archia', sans-serif;
  font-size: 3.438rem;
  font-weight: 500;
  line-height: 3.438rem;
  letter-spacing: -0.07em;
  text-align: left;
}

.title-3-medium {
  font-family: 'Archia', sans-serif;
  font-size: 2.75rem;
  font-weight: 500;
  line-height: 2.75rem;
  letter-spacing: -0.05em;
  text-align: left;
}

.title-4-medium {
  font-family: 'Archia', sans-serif;
  font-size: 2.125rem;
  font-weight: 500;
  line-height: 2.125rem;
  letter-spacing: -0.05em;
  text-align: left;
}

/* Heading */
.headline-4 {
  font-family: 'Archia', sans-serif;
  font-size: 6.688rem;
  font-weight: 500;
  line-height: 6.6875rem;
  letter-spacing: -0.05em;
  text-align: left;
}

/* Underline */
@keyframes draw {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes drawReverse {
  from {
    transform: scaleX(1);
    transform-origin: right;
  }

  to {
    transform: scaleX(0);
    transform-origin: right;
    /* Giữ nguyên điểm gốc ở bên phải */
  }
}

.text-underline {
  position: relative;
  /* display: inline-block; */
  /* Giúp cho line gạch được căn giữa */
}

.text-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
  /* Thay đổi trạng thái mượt mà */
}

.text-underline:hover::after {
  animation: draw 0.5s forwards;
  /* Hiệu ứng khi hover vào */
}

.text-underline:not(:hover)::after {
  animation: drawReverse 0.5s forwards;
  /* Hiệu ứng khi không hover */
  /* animation-delay: 0.5s; */
  /* Delay để đường gạch di chuyển trước khi biến mất */
}

/* Underline 2 */
@keyframes draw2 {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes drawReverse2 {
  from {
    transform: scaleX(1);
    transform-origin: right;
  }

  to {
    transform: scaleX(0);
    transform-origin: right;
    /* Giữ nguyên điểm gốc ở bên phải */
  }
}

.text-underline2 {
  position: relative;
  display: inline-block;
  /* Giúp cho line gạch được căn giữa */
}

.text-underline2::after,
.text-underline2::before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 2px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}

.text-underline2::after {
  width: 80%;
  left: 24px;
}

.text-underline2::before {
  width: 100%;
  left: 0;
  opacity: 0;
  transform: scaleX(0);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

/* Hiệu ứng ban đầu: gạch chân ẩn đi */
.text-underline2::before {
  opacity: 0;
  transform: scaleX(0);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.text-underline2:hover::after {
  animation: drawReverse2 0.5s forwards;
  /* Đường gạch đầu tiên chạy từ trái sang phải và biến mất */
}

.text-underline2:hover::before {
  opacity: 1;
  animation: draw2 0.5s forwards 0.5s;
  /* Đường gạch mới xuất hiện từ trái sang phải sau khi hover */
}

/* Khi không hover: gạch chân ban đầu hiện lại */
.text-underline2:not(:hover)::after {
  animation: draw2 0.5s forwards;
  /* Hiển thị gạch chân trở lại khi không hover */
}

.text-underline2:not(:hover)::before {
  opacity: 0;
  transform: scaleX(0);
  /* Ẩn gạch chân mới khi không hover */
}


/* Border gradient */
.border-gradient {
  padding: 10px;
  display: inline-block;
  position: relative;
  padding: 4px 24px 8px 24px;
  border-radius: 28px;
  z-index: 0;
  overflow: hidden;
}

.border-gradient:before {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 1px;
  border-radius: 28px;
  background: linear-gradient(180deg, rgba(250, 70, 22, 0) 0%, #FA4616 100%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

/* Rotate */
.rotate-infinite {
  animation: rotate 15s linear infinite;
}


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*  */
@keyframes shake {
  0% {
    transform: rotate(-17deg);
  }

  20% {
    transform: rotate(-13deg);
  }

  40% {
    transform: rotate(-16deg);
  }

  60% {
    transform: rotate(-14deg);
  }

  80% {
    transform: rotate(-16deg);
  }

  100% {
    transform: rotate(-15deg);
  }
}

@keyframes shakeOut {
  0% {
    transform: rotate(-15deg);
  }

  10% {
    transform: rotate(-2deg);
  }

  30% {
    transform: rotate(2deg);
  }

  50% {
    transform: rotate(-1deg);
  }

  70% {
    transform: rotate(1deg);
  }

  90% {
    transform: rotate(-1deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.ring-button {
  transition: transform 0.5s;
}

.ring-button:hover {
  transform: rotate(-15deg);
  animation: shake 0.5s forwards;
}

/* Hiệu ứng khi hover kết thúc */
.ring-button:not(:hover) {
  animation: shakeOut 0.5s forwards;
}


/* slide client feedback */
.slide {
  opacity: 0;
  transition: opacity 0.5s;
}

.slick-active .slide {
  opacity: 1;
}

.custom-text-wrap {
  white-space: normal;
  word-wrap: break-word;
}

.motion-div {
  will-change: opacity, transform;
}


@keyframes changeBackground {
  0% {
    background-color: unset;
    border: 0.5px solid rgba(252, 252, 252, 1);
  }

  50% {
    background-color: unset;
    border-top: 0px solid rgba(252, 252, 252, 1);
    border-left: 2px solid rgba(252, 252, 252, 1);
    border-right: 2px solid rgba(252, 252, 252, 1);
    border-bottom: 2px solid rgba(252, 252, 252, 1);
  }

  100% {
    background-color: rgba(252, 252, 252, 1);
  }
}

.change-background {
  animation: changeBackground 0.7s ease-in-out forwards;
  animation-delay: 0.3s;
}

.delayed-hover {
  transition-delay: 1s;
  animation-delay: 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



/* globals.css */