@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Body */
.body-1-medium {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
}

.body-1-regular {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}

.body-2-regular {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20.7px;
  text-align: left;
  color: #3F3F3F;
}

.body-2-medium {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #131E29;
}

.body-3-regular {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  text-align: left;
  color: #3F3F3F;
}

.body-3-medium {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.1px;
  text-align: left;
}

.body-4-regular {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #3F3F3F;
  font-size: 12px;
  font-weight: 400;
  line-height: 13.8px;
  text-align: left;
}

.body-4-medium {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 13.8px;
  text-align: left;
  color: #131E29;
}


/* Subtitle */
.subtitle-1-medium {
  font-family: 'Archia', 'sans-serif';
  font-size: 35px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: -0.05em;
  text-align: left;

}

.subtitle-3-semibold {
  font-family: 'Archia', 'sans-serif';
  font-size: 23px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: -0.05em;
  text-align: left;
}

.subtitle-3-regular {
  font-family: 'Archia', 'sans-serif';
  font-size: 23px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: -0.05em;
  text-align: left;
}

/* Title */
.title-1-medium {
  font-family: 'Archia', 'sans-serif';
  font-size: 69px;
  font-weight: 500;
  line-height: 69px;
  letter-spacing: -0.05em;
  text-align: left;
  color: #131E29;
}

.title-2-medium {
  font-family: 'Archia', 'sans-serif';
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  letter-spacing: -0.07em;
  text-align: left;

}

/* Underline */
@keyframes draw {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

.text-underline {
  display: inline-block;
  position: relative;
}

.text-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .5s;
}

.text-underline:hover::after {
  transform: scaleX(1);
}

/* Border gradient */
.gradient-border {
  border-width: 1px;
  border-style: solid;
  border-radius: 28px;
  border-image-source: linear-gradient(180deg, rgba(250, 70, 22, 0) 0%, #FA4616 100%);
  /* border-image-slice: 1; */
}

/* Rotate */
.rotate-infinite {
  animation: rotate 15s linear infinite;
  animation-delay: 5s;
}




@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}